// 颜色定义规范
$mainBgColor = #ff6600

$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight = #474747
$color-dialog-background = #666
$color-theme = #ff6600
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #ff0000
// ff0000
$color-text = #fff
$color-text-c = #919191
$color-text-d = #666

$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-highlight = .2rem
$font-info = .18rem
$font-size-22 = .22rem
$font-size-16 = .16rem
$font-icon = .3rem
$font-size-24 = .24rem
$font-size-large-x = 22px